<?xml version="1.0" encoding="UTF-8"?>
<machinedefinition xmlns="http://schemas.autodesk.com/amc/machinedefinitions/2020/02" xmlns:sync="http://schemas.autodesk.com/amc/synchronization/2020/02" xmlns:i18n="http://schemas.autodesk.com/amc/internationalization/2023/08">
	<services threadcount="32"/>

  <internationalization default="en">
		<language identifier="en" name="English" resource="language_english" />
		<language identifier="de" name="Deutsch" resource="language_german" />
  </internationalization>

  <accesscontrol>

    <defaultusers>
      <defaultuser name="test" salt="f735faa2ac49ac0a68dbf41d9cd57cfb426ef91eb19726afd8f075ac625cccb2" passwordhash="556080937385d8eb21ea0e8707d7cf3e94b79ed234596ba8a2ac98da1ff4fee3" description="This is a test user." />
    </defaultusers>

    <permissions>
      <permission identifier="permission_view_builds" displayname="View Builds" description="Can view build files on machine." />
      <permission identifier="permission_start_build" displayname="Start Build" description="Can start a new build on machine." />
      <permission identifier="permission_user_management" displayname="User Management" description="Can create/edit local users." />
      <permission identifier="permission_that_nobody_has" displayname="Permission that nobody has" description="." />
    </permissions>


    <roles default="operator">

      <role identifier="observer" displayname="Observer" description="Machine Observer - can not change anything">
        <permission identifier="permission_view_builds" />
      </role>

      <role identifier="oldrole" displayname="Depreciated role" description="Depreciated role - not possible to use anymore" migrateto="operator" />

      <role identifier="operator" displayname="Operator" description="Machine Operator Access">
        <permission identifier="permission_view_builds" />
        <permission identifier="permission_start_build" />
      </role>

      <role identifier="administrator" displayname="Administrator" description="Machine Administration Access">
        <permission identifier="permission_view_builds" />
        <permission identifier="permission_start_build" />
        <permission identifier="permission_user_management" />
      </role>

    </roles>
    
    
  </accesscontrol>

	<driver name="bur" library="driver_bur" type="bur-1.0" configurationresource="burprotocol"/>
	<driver name="scanlab" library="driver_scanlab" type="scanlab-rtc6"/>
	<driver name="raylase" library="driver_raylase" type="raylase"/>
  <driver name="scanlabsmc" library="driver_scanlabsmc" type="scanlab-smc-0.6">

    <preset name="smc_laser_1">
			<general DynamicViolationReaction="WarningOnly" />
    </preset>



  </driver>
    

  <statemachine name="main" description="Main System" initstate="init" failedstate="fatalerror" library="plugin_main">

		<parametergroup name="jobinfo" description="Job Information">
			<parameter name="jobname" description="Job Name" default="Job Name" type="string"/>
			<parameter name="jobuuid" description="Job UUID" default="00000000-0000-0000-0000-000000000000" type="string"/>
			<parameter name="layercount" description="Layer Count" default="0" type="int"/>
			<parameter name="currentlayer" description="Current Layer" default="0" type="int"/>
			<parameter name="totalheight" description="Total Height" default="0" type="double" />
			<parameter name="currentheight" description="Current Height" default="0" type="double"/>
			<parameter name="autostart" description="Automatically start job after init" default="0" type="bool"/>
			<parameter name="printinprogress" description="Print is in progress" default="0" type="bool"/>
			<parameter name="recoatingtimeout" description="Recoating Timeout" default="60000" type="int"/>
			<parameter name="exposuretimeout" description="Exposure Timeout" default="300000" type="int"/>
      <parameter name="countertest" description="Countertest" default="0" type="double"/>
    </parametergroup>

		<parametergroup name="ui" description="User interface">
			<parameter name="currentlayerdisplay" description="Current Layer Display" default="" type="string"/>
			<parameter name="currentheightdisplay" description="Current Height Display" default="" type="string"/>
			<parameter name="build_canbepaused" description="Build can be paused" default="0" type="bool"/>
			<parameter name="build_canbecanceled" description="Build can be paused" default="0" type="bool"/>
			<parameter name="build_canbestarted" description="Build can be started" default="1" type="bool"/>
    </parametergroup>

		<parametergroup name="configuration" description="Machine Configuration">
			<parameter name="simulatelaser" description="Simulate laser control" default="0" type="bool" persistent="076c7b5a-7ad7-49bc-9db4-44140402063a"/>
			<parameter name="simulateplc" description="Simulate PLC behaviour" default="1" type="bool" persistent="d1e8e7d2-8d77-4206-b390-b999300ca8a9"/>
		</parametergroup>

		<signaldefinition name="signal_initjob">
			<parameter name="jobuuid" type="string"/>
		</signaldefinition>

		<signaldefinition name="signal_cancelbuild">
		</signaldefinition>

		<signaldefinition name="signal_pausebuild">
		</signaldefinition>

		<signaldefinition name="signal_resumebuild">
		</signaldefinition>

		<signaldefinition name="signal_changesimulationparameters" publish="1">
			<parameter name="simulatelaser" type="bool"/>
			<parameter name="simulateplc" type="bool"/>
		</signaldefinition>

		<state name="init" repeatdelay="100">
			<outstate target="idle"/>
		</state>

		<state name="idle" repeatdelay="10">
			<outstate target="idle"/>
			<outstate target="initbuild"/>
		</state>

		<state name="initbuild" repeatdelay="100">
			<outstate target="beginlayer"/>
		</state>

		<state name="beginlayer" repeatdelay="1000">
			<outstate target="recoatlayer"/>
			<outstate target="exposelayer"/>
		</state>

		<state name="recoatlayer" repeatdelay="100">
			<outstate target="exposelayer"/>
		</state>

		<state name="exposelayer" repeatdelay="100">
			<outstate target="finishlayer"/>
		</state>

		<state name="finishlayer" repeatdelay="100">
			<outstate target="beginlayer"/>
			<outstate target="finishbuild"/>
			<outstate target="buildpaused"/>
			<outstate target="cancelbuild"/>
		</state>

		<state name="finishbuild" repeatdelay="100">
			<outstate target="idle"/>
		</state>

		<state name="buildpaused" repeatdelay="400">
			<outstate target="beginlayer"/>
			<outstate target="cancelbuild"/>
		</state>

		<state name="cancelbuild" repeatdelay="100">
			<outstate target="idle"/>
		</state>

		<state name="fatalerror" repeatdelay="5000">
			<outstate target="init"/>
			<outstate target="fatalerror"/>
		</state>

	</statemachine>


	<statemachine name="laser" description="Laser System" initstate="init" failedstate="fatalerror" library="plugin_laser">

		<parametergroup name="cardconfig" description="Scanner Card Config">
			<parameter name="cardtype" description="Scanner Card Type (scanlab or raylase)" default="scanlab" type="string"/>
			<parameter name="serial" description="Serial" default="341731" type="int"/>
			<parameter name="ipaddress" description="Scanner Ethernet Address" default="192.168.0.1" type="string"/>
			<parameter name="netmask" description="Scanner Netmask" default="255.255.255.0" type="string"/>
			<parameter name="port" description="Port" default="49374" type="int"/>
			<parameter name="timeout" description="Connection timeout" default="1000" type="int"/>
			<parameter name="maxlaserpower" description="Max. laser power (W)" default="1000" type="double"/>
			<parameter name="laserondelay" description="Laser On Delay in microseconds" default="100" type="double"/>
			<parameter name="laseroffdelay" description="Laser Off Delay in microseconds" default="100" type="double"/>
			<parameter name="markdelay" description="Mark Delay in microseconds" default="570" type="double"/>
			<parameter name="jumpdelay" description="Jump Delay in microseconds" default="1400" type="double"/>
			<parameter name="polygondelay" description="Polygon Delay in microseconds" default="280" type="double"/>
			<derivedparameter name="simulatelaser" statemachine="main" group="configuration" parameter="simulatelaser"/>
		</parametergroup>

		<parametergroup name="correction" description="Scanlab Correction Data">
			<parameter name="resourcename" description="Correction resource name" default="d2_1238" type="string"/>
			<parameter name="tableindex" description="Correction table index" default="1" type="int"/>
			<parameter name="dimension" description="Correction file dimension" default="3" type="int"/>
			<parameter name="tablenumbera" description="Table number head A" default="1" type="int"/>
			<parameter name="tablenumberb" description="Table number head B" default="0" type="int"/>
		</parametergroup>

		<driverparametergroup name="sdkstate" description="Scanlab SDK State" driver="scanlab"/>

		<signaldefinition name="signal_exposure">
			<parameter name="jobuuid" type="string"/>
			<parameter name="layerindex" type="int"/>
			<parameter name="timeout" type="int"/>
			<result name="success" type="bool"/>
		</signaldefinition>

		<state name="init" repeatdelay="100">
			<outstate target="idle"/>
		</state>

		<state name="idle" repeatdelay="50">
			<outstate target="idle"/>
			<outstate target="exposure"/>
		</state>

		<state name="exposure" repeatdelay="50">
			<outstate target="idle"/>
		</state>

		<state name="fatalerror" repeatdelay="5000">
			<outstate target="init"/>
			<outstate target="fatalerror"/>
		</state>

	</statemachine>




	<statemachine name="plc" description="PLC System" initstate="init" failedstate="fatalerror" library="plugin_plc">

		<parametergroup name="plcconfig" description="PLC Config">
			<parameter name="ipaddress" description="PLC Ethernet Address" default="192.168.2.2" type="string"/>
			<parameter name="port" description="PLC Port" default="12000" type="int"/>
			<parameter name="timeout" description="Connection timeout" default="1000" type="int"/>
			<derivedparameter name="simulateplc" statemachine="main" group="configuration" parameter="simulateplc"/>
		</parametergroup>

		<driverparametergroup name="plcstate" description="BuR State" driver="bur"/>

		<signaldefinition name="signal_recoatlayer">
			<result name="success" type="bool"/>
		</signaldefinition>

		<signaldefinition name="signal_laserpointer">
			<parameter name="laseron" type="bool"/>
			<result name="success" type="bool"/>
		</signaldefinition>


		<state name="init" repeatdelay="100">
			<outstate target="idle"/>
		</state>

		<state name="idle" repeatdelay="10">
			<outstate target="idle"/>
			<outstate target="recoating"/>
		</state>

		<state name="recoating" repeatdelay="50">
			<outstate target="idle"/>
		</state>

		<state name="fatalerror" repeatdelay="5000">
			<outstate target="init"/>
			<outstate target="fatalerror"/>
		</state>

	</statemachine>


	<userinterface appname="Autodesk Machine Control Framework" copyright="2022 Autodesk Inc." mainpage="main" library="plugin_userinterface">

		<logo resource="ui_logo" aspectratio="3.0"/>

		<login
			backgroundresource="login_background"
			welcomemessage="Welcome to the Autodesk Machine Control Framework. This is SLM Test Machine 1. Please enter your account credential to log into the system."
		/>

		<colors>
			<color name="primary" red="0.00" green="0.0" blue="0.0"/>
			<color name="secondary" red="0.3" green="0.3" blue="0.3"/>
			<color name="accent" red="0.400" green="0.400" blue="0.400"/>
			<color name="error" red="0.867" green="0.133" blue="0.133"/>
		</colors>

		<dialog name="generaldialog">
			<content name="infobox" title="General Dialog Title">

				<image resource="ui_machine" aspectratio="2.5" maxheight="400"/>

				<buttongroup name="buttongroup" distribution="equal">
					<button name="button1" caption="Button 1" event=""/>
					<button name="button2" caption="Button 2" event=""/>
				</buttongroup>

			</content>
		</dialog>



		<dialog name="pausedialog">
			<content name="infobox" title="Process paused">

				<image resource="ui_machine" aspectratio="2.5" maxheight="400"/>

				<buttongroup distribution="equal">
					<button caption="Resume Build" event="resumebuild"/>
					<button caption="Cancel Build" event="cancelbuildfrompause"/>
				</buttongroup>

			</content>
		</dialog>



		<page name="main">

			<grid name="previewgrid">
				<column width="3" unit="free"/>
				<column width="3" unit="free"/>

				<row height="1" unit="free"/>
				<row height="50" unit="pt"/>
				<row height="100" unit="pt"/>

				<content name="infobox" title="Example LPBF Project." columnstart="1" rowstart="1" columnend="1" rowend="1">
					<image resource="ui_logo" aspectratio="2" maxheight="50"/>
					<paragraph text="."/>
					<paragraph text="Autodesk example machine"/>
					<paragraph text="."/>
					

          <form name="machinestateinforform">
						<edit name="mainstatename" caption="Main System" readonly="1" sync:value="main.$state"/>
						<edit name="scannerstatename" caption="Scanner System" readonly="1" sync:value="laser.$state"/>
						<edit name="plcstatename" caption="PLC System" readonly="1" sync:value="plc.$state"/>
            <edit name="test" caption="Test" sync:value="main.jobinfo.countertest" format:value="test %.2f" validation="double" minvalue="10" maxvalue="20" validationmessage="Invalid value!"/>
          </form>


				</content>

				<content name="machineimage" columnstart="2" rowstart="1" columnend="2" rowend="1">
					<image resource="ui_machine" aspectratio="1.2" maxheight="600"/>
				</content>

				<content name="upload" columnstart="1" rowstart="2" columnend="2" rowend="2">

					<upload class="build" caption="Select 3MF files to upload" successevent="onuploadfinished"/>
				</content>

				<content name="settings" columnstart="1" rowstart="3" columnend="2" rowend="3">

          <buttongroup distribution="equal">
            <button name="testjounral" caption="Test Journal" event="testjournal" />
          </buttongroup>

          <form name="simulationparameters">
						<switch name="simulatelaser" caption="Simulate Laser Control" sync:value="main.configuration.simulatelaser" changeevent="changesimulationparameter"/>
						<switch name="simulateplc" caption="Simulate PLC behaviour" sync:value="main.configuration.simulateplc" changeevent="changesimulationparameter"/>
					</form>

				</content>
			</grid>

		</page>

		<page name="importbuildjob">
			<grid name="importgrid">
				<column width="1" unit="free"/>
				<column width="200" unit="pt"/>

				<row height="150" unit="pt"/>
				<row height="1" unit="free"/>
				<row height="50" unit="pt"/>

				<tabs name="uploadtab" columnstart="1" rowstart="1" columnend="2" rowend="1" rowposition="top">
					<content name="upload" caption="Upload new build file">
						<upload class="build" caption="Select 3MF files to upload" successevent="onuploadfinished"/>
					</content>
					<content name="select" caption="Select build file">
						<buildlist loadingtext="Loading builds" entriesperpage="20" selectevent="onselectbuild"/>
					</content>
				</tabs>

				<layerview name="preview" columnstart="1" rowstart="2" columnend="1" rowend="2">
					<platform sizex="300" sizey="300" originx="150" originy="150" baseimage="buildplate"/>
				</layerview>

				<content name="UploadButtons" columnstart="1" rowstart="3" columnend="1" rowend="3" rowposition="centered">
					<buttongroup distribution="equal">
						<button name="startbuild" caption="Start Build" event="startbuild" sync:disabled="!main.ui.build_canbestarted"/>
						<button name="backtomainpage" caption="Return to Home" event="cancelpreview"/>
					</buttongroup>
				</content>

				<content name="layerinfo" columnstart="2" rowstart="2" columnend="2" rowend="2">
					<form name="layerinfoform">
						<edit name="currentlayer" caption="Current Layer" readonly="0" value="1"/>
					</form>
					<buttongroup distribution="equal">
						<button name="changelayer" caption="Change Layer" eventx="onimportlayerchange" formvalues="layerinfoform"/>
					</buttongroup>
				</content>
			</grid>
		</page>

		<page name="buildlist">
			<content name="buildlibrary" title="Build Library">
				<upload class="build" caption="Select 3MF files to upload" successevent="onuploadfinished"/>
				<buildlist loadingtext="Loading builds" entriesperpage="20" selectevent="onselectbuild"/>
			</content>
		</page>



		<page name="buildstatus">

			<grid name="previewgrid">
				<column width="180" unit="pt"/>
				<column width="3" unit="free"/>
				<column width="3" unit="free"/>
				<column width="3" unit="free"/>
				<column width="3" unit="free"/>

				<row height="50" unit="pt"/>
				<row height="50" unit="pt"/>
				<row height="1" unit="free"/>


				<content name="buildinformation" columnstart="1" rowstart="1" columnend="1" rowend="1" rowposition="centered">
					<form name="infoform1">
						<edit name="buildname"
						caption="Build name"
						sync:value="main.jobinfo.jobname"
						readonly="1"/>
					</form>
				</content>

				<content name="buildcurrentlayer" columnstart="2" rowstart="1" columnend="2" rowend="1" rowposition="centered">
					<form name="infoform2">
						<edit name="buildcurrentlayer"
						caption="Current layer"
						sync:value="main.ui.currentlayerdisplay"
						readonly="1"/>
					</form>
				</content>


				<content name="buildcurrentheight" columnstart="3" rowstart="1" columnend="3" rowend="1" rowposition="centered">
					<form name="infoform3">
						<edit name="buildcurrentheight"
						caption="Current height"
						sync:value="main.ui.currentheightdisplay"
						readonly="1"/>
					</form>
				</content>

				<content name="buildmainstate" columnstart="1" rowstart="2" columnend="1" rowend="2" rowposition="centered">
					<form name="stateform1">
						<edit name="mainstate"
						caption="Main System"
						sync:value="main.$state"
						readonly="1"/>
					</form>
				</content>

				<content name="buildlaserstate" columnstart="2" rowstart="2" columnend="2" rowend="2" rowposition="centered">
					<form name="stateform2">
						<edit name="laserstate"
						caption="Laser System"
						sync:value="laser.$state"
						readonly="1"/>
					</form>
				</content>


				<content name="buildplcstate" columnstart="3" rowstart="2" columnend="3" rowend="2" rowposition="centered">
					<form name="stateform3">
						<edit name="plcstate"
						caption="PLC System"
						sync:value="plc.$state"
						readonly="1"/>
					</form>
				</content>


				<content name="actions1" columnstart="4" rowstart="1" columnend="5" rowend="1" rowposition="centered">
					<buttongroup distribution="equal">
						<button caption="Pause Build" event="pausebuild" sync:disabled="!main.ui.build_canbepaused"/>
					</buttongroup>
				</content>

				<content name="actions2" columnstart="4" rowstart="2" columnend="5" rowend="2" rowposition="centered">
					<buttongroup distribution="equal">
						<button caption="Cancel Build" event="cancelbuild" sync:disabled="!main.ui.build_canbecanceled"/>
					</buttongroup>
				</content>


				<layerview name="preview" columnstart="1" rowstart="3" columnend="3" rowend="3">
					<platform sizex="300" sizey="300" originx="150" originy="150" sync:layerindex="main.jobinfo.currentlayer" baseimage="buildplate"/>
				</layerview>


				<tabs name="buildtabs" columnstart="4" rowstart="3" columnend="5" rowend="3">

					<content name="systemstate" caption="System State">

						<parameterlist loadingtext="Loading parameters">
							<entry statemachine="main" group="jobinfo"/>
							<entry statemachine="plc" group="plcstate"/>
							<entry statemachine="laser" group="cardconfig"/>
							<entry statemachine="laser" group="sdkstate"/>
							<entry statemachine="laser" group="correction"/>

						</parameterlist>

					</content>

					<logs name="systemlog" caption="Log Messages">
					</logs>

				</tabs>


			</grid>
		</page>


		<page name="manualcontrol">

			<content name="control" title="Manual control">
			</content>

		</page>

		<page name="buildreport">


		</page>

		<page name="systemstatus">

			<content name="currentbuild" title="Current System Status">
				<parameterlist loadingtext="Loading parameters">
					<entry statemachine="main" group="jobinfo"/>
					<entry statemachine="main" group="ui"/>
					<entry statemachine="plc" group="plcconfig"/>
					<entry statemachine="plc" group="plcstate"/>

					<entry statemachine="laser" group="sdkstate"/>

				</parameterlist>

			</content>

		</page>

		<page name="systemlog">

			<logs name="systemlog" caption="Log Messages">
			</logs>

		</page>



    <page name="modelview">

      <glscene name="glscene1">

        <models>
          <model name="platform" resource="bptest" />
          <model name="testpart" resource="test3mf5" />
        </models>

        <lights>
          <spotlight name="spotlight">

          </spotlight>
        </lights>


        <fog>
          
        </fog>


        <scene>
          
          <instance name="platform_view" model="platform" visible="1">
            <color red="0.8" green="0.9" blue="0.5" shininess="50" specular_red="0.1" specular_green="0.1" specular_blue="0.1" />
            
            <position x="100" y="20" z="30" />
            <transform m11="1.0" m12="0.0" m13="0.0" m21="0.0" m22="1.0" m23="0.0" m31="0.0" m32="0.0" m33="0.0" />
            
          </instance>

          <instance name="testpart_instance" model="testpart" visible="1">

          </instance>

        </scene>

      </glscene>

    </page>

		<page name="settings" permission="permission_view_builds">

			<content name="settings" title="System Settings">
			</content>

		</page>

		<menu>
			<item id="buildlist" icon="mdi-library" permission="permission_view_builds" description="Upload build files and start build jobs." caption="Build Library" targetpage="buildlist"/>
			<item id="buildprocess" icon="mdi-printer-3d" caption="Build Process" description="Manage and monitor current build process" targetpage="buildstatus"/>
			<item id="systemstatus" icon="mdi-factory" caption="Current Status" description="Display current machine status." targetpage="systemstatus"/>
			<item id="systemlog" icon="mdi-book-open-variant" caption="System Logs" description="Browse and display stored system log files." targetpage="systemlog"/>
      <item id="modelview" icon="mdi-book-open-variant" caption="3D Model View" description="View Build Job in 3D." targetpage="modelview"/>
    </menu>


		<toolbar logoresource="ui_toolbarlogo">
			<item id="home" icon="mdi-apps" caption="Home" targetpage="main"/>
			<item id="logout" icon="mdi-logout" caption="Log out" event="logout"/>
		</toolbar>


	</userinterface>
</machinedefinition>
