<?xml version="1.0" encoding="UTF-8"?>
<machinedefinition xmlns="http://schemas.autodesk.com/amc/machinedefinitions/2020/02" xmlns:sync="http://schemas.autodesk.com/amc/synchronization/2020/02">
	<services threadcount="32"/>

	<driver name="bur" library="driver_bur" type="bur-1.0" configurationresource="burprotocol" />
	<driver name="scanlab" library="driver_scanlab" type="scanlab-rtc6"/>
  
	<statemachine name="main" description="Main System" initstate="init" failedstate="fatalerror" library="plugin_main">

		<parametergroup name="jobinfo" description="Job Information">
			<parameter name="jobname" description="Job Name" default="Job Name" type="string"/>
			<parameter name="jobuuid" description="Job UUID" default="00000000-0000-0000-0000-000000000000" type="string"/>
			<parameter name="layercount" description="Layer Count" default="0" type="int"/>
			<parameter name="currentlayer" description="Current Layer" default="0" type="int"/>
			<parameter name="autostart" description="Automatically start job after init" default="0" type="bool"/>
			<parameter name="printinprogress" description="Print is in progress" default="0" type="bool"/>
			<parameter name="recoatingtimeout" description="Recoating Timeout" default="60000" type="int"/>
			<parameter name="exposuretimeout" description="Exposure Timeout" default="300000" type="int"/>
		</parametergroup>

		<parametergroup name="processsettings" description="Process Settings">
			<parameter name="targeto2" description="Target O2 PPM" default="3" type="double"/>
			<parameter name="recoaterspeed" description="Recoater speed (in mm/s)" default="80" type="double"/>
			<parameter name="gasflowspeed" description="Gas flow speed (in m/s)" default="2" type="double"/>
		</parametergroup>

		<parametergroup name="ui" description="User interface">
			<parameter name="preparebuilddisabled" description="Prepare build disabled" default="0" type="bool"/>
		</parametergroup>

		<signaldefinition name="signal_preparebuildjob">
			<parameter name="jobuuid" type="string"/>
			<parameter name="jobname" type="string"/>
		</signaldefinition>

		<signaldefinition name="signal_cancelbuildpreparation">
		</signaldefinition>

		<signaldefinition name="signal_startbuild">
		</signaldefinition>

		<signaldefinition name="signal_changeprocesssettings" publish="1">
			<parameter name="targeto2" type="double"/>
			<parameter name="recoaterspeed" type="double"/>
			<parameter name="gasflowspeed" type="double"/>
		</signaldefinition>


		<state name="init" repeatdelay="100">
			<outstate target="idle"/>
		</state>

		<state name="idle" repeatdelay="1000">
			<outstate target="idle"/>
			<outstate target="preparebuild"/>
			<acceptedsignal name="signal_preparebuildjob"/>
		</state>

		<state name="preparebuild" repeatdelay="100">
			<outstate target="initbuild"/>
			<outstate target="preparebuild"/>
			<outstate target="idle"/>
		</state>

		<state name="initbuild" repeatdelay="100">
			<outstate target="beginlayer"/>
		</state>

		<state name="beginlayer" repeatdelay="1000">
			<outstate target="recoatlayer"/>
			<outstate target="exposelayer"/>
		</state>

		<state name="recoatlayer" repeatdelay="100">
			<outstate target="exposelayer"/>
		</state>

		<state name="exposelayer" repeatdelay="100">
			<outstate target="finishlayer"/>
		</state>

		<state name="finishlayer" repeatdelay="100">
			<outstate target="beginlayer"/>
			<outstate target="finishbuild"/>
		</state>

		<state name="finishbuild" repeatdelay="100">
			<outstate target="idle"/>
		</state>

		<state name="pausebuild" repeatdelay="100">
			<outstate target="beginlayer"/>
			<outstate target="cancelbuild"/>
		</state>

		<state name="cancelbuild" repeatdelay="100">
			<outstate target="idle"/>
		</state>

		<state name="fatalerror" repeatdelay="5000">
			<outstate target="init"/>
			<outstate target="fatalerror"/>
		</state>

	</statemachine>


  <statemachine name="laser" description="Laser System" initstate="init" failedstate="fatalerror" library="plugin_laser">

    <parametergroup name="cardconfig" description="Scanlab Card Config">
      <parameter name="serial" description="Serial" default="1000" type="int" />
      <parameter name="ipaddress" description="Scanlab Ethernet Address" default="" type="string" />
      <parameter name="netmask" description="Scanlab Netmask" default="" type="string" />
      <parameter name="timeout" description="Connection timeout" default="1000" type="int" />
      <parameter name="maxlaserpower" description="Max. laser power (W)" default="400" type="double" />
      <parameter name="laserondelay" description="Laser On Delay in microseconds" default="100" type="double" />
      <parameter name="laseroffdelay" description="Laser Off Delay in microseconds" default="100" type="double" />
      <parameter name="markdelay" description="Mark Delay in microseconds" default="570" type="double" />
      <parameter name="jumpdelay" description="Jump Delay in microseconds" default="1400" type="double" />
      <parameter name="polygondelay" description="Polygon Delay in microseconds" default="280" type="double" />
    </parametergroup>

    <parametergroup name="correction" description="Scanlab Correction Data">
      <parameter name="resourcename" description="Correction resource name" default="d2_1386" type="string" />
      <parameter name="tableindex" description="Correction table index" default="1" type="int" />
      <parameter name="dimension" description="Correction file dimension" default="3" type="int" />
      <parameter name="tablenumbera" description="Table number head A" default="1" type="int" />
      <parameter name="tablenumberb" description="Table number head B" default="0" type="int" />
    </parametergroup>

    <driverparametergroup name="sdkstate" description="Scanlab SDK State" driver="scanlab" />

    <signaldefinition name="signal_exposure">
      <parameter name="jobuuid" type="string" />
      <parameter name="layerindex" type="int" />
      <parameter name="timeout" type="int" />
      <result name="success" type="bool" />
    </signaldefinition>

    <state name="init" repeatdelay="100">
      <outstate target="idle" />
    </state>

    <state name="idle" repeatdelay="50">
      <outstate target="idle" />
      <outstate target="exposure" />
    </state>

    <state name="exposure" repeatdelay="50">
      <outstate target="idle" />
    </state>

    <state name="fatalerror" repeatdelay="5000">
      <outstate target="init" />
      <outstate target="fatalerror" />
    </state>

  </statemachine>




	<statemachine name="plc" description="PLC System" initstate="init" failedstate="fatalerror" library="plugin_plc">

		<parametergroup name="plcconfig" description="PLC Config">
			<parameter name="ipaddress" description="PLC Ethernet Address" default="127.0.0.1" type="string" />
			<parameter name="port" description="PLC Port" default="12000" type="int" />
			<parameter name="timeout" description="Connection timeout" default="1000" type="int" />
		</parametergroup>

		<driverparametergroup name="plcstate" description="BuR State" driver="bur" />
		
		<signaldefinition name="signal_recoatlayer">
			<result name="success" type="bool" />
		</signaldefinition>
		
		<state name="init" repeatdelay="100">
			<outstate target="idle" />
		</state>

		<state name="idle" repeatdelay="50">
			<outstate target="idle" />
			<outstate target="recoating" />
		</state>

		<state name="recoating" repeatdelay="50">
			<outstate target="idle" />
		</state>

		<state name="fatalerror" repeatdelay="5000">
			<outstate target="init" />
			<outstate target="fatalerror" />
		</state>

	</statemachine>


	<userinterface appname="SLM Demo System" copyright="2021 Autodesk" mainpage="main" library="plugin_userinterface">

		<logo resource="ui_logo" aspectratio="2.5"/>
		
		<colors>
			<color name="primary" red="0.024" green="0.588" blue="0.843" />
			<color name="secondary" red="0.529" green="0.737" blue="0.251" />
			<color name="accent" red="0.400" green="0.400" blue="0.400" />
			<color name="error" red="0.867" green="0.133" blue="0.133" />
		</colors>		

		<dialog name="testdialog" title="Change Parameters">
			<content name="infobox" headline="">
						<form name="processparameters">
							<edit name="o2_value" caption="Target Oxygen Value" suffix="ppm" />								
							<edit name="recoaterspeed" caption="Recoater Speed" suffix="mm/s" />
							<edit name="gasflowspeed" caption="Gas flow speed" suffix="m/s" />
						</form>
						
						<buttongroup>
							<button caption="Save" event="onprocessparametersave" formvalues="processparameters" />
							<button caption="Cancel" event="onprocessparametercancel" />
						</buttongroup>
						
			</content>
		</dialog>

		<page name="main">
			<content name="infobox" title="SLM Demo System" headline="">
				<image resource="ui_machine" aspectratio="2.5" maxheight="400" />
				<paragraph text="This sample configuration serves as Laser Powderbed Fusion demo implementation."/>
				<upload class="build" caption="Select 3MF files to upload" successevent="onuploadfinished" />
			</content>
		</page>


		<page name="buildlist">
			<content name="buildlibrary" title="Build Library">
				<upload class="build" caption="Select 3MF files to upload" successevent="onuploadfinished" />
				<buildlist loadingtext="Loading builds" entriesperpage="20" selectevent="onselectbuild"/>
			</content>
		</page>

		<page name="previewbuild" onload="loadbuildinfo">
		
			<grid name="previewgrid">
				<column width="3" unit="free" />
				<column width="150" unit="pt" />
				
				<row height="80" unit="pt" />
				<row height="1" unit="free" />
		
				<content name="buildinformation" title="Build Information" subtitle="Detailed information" columnstart="1" rowstart="1" columnend="1" rowend="1" >
					<paragraph text="Here you find more information about your build."/>
				</content>

				<content name="actions" columnstart="2" rowstart="1" columnend="2" rowend="1" >
					<buttongroup>
						<button caption="Prepare Build" targetpage="preparebuild" event="startbuildpreparation"/>
					</buttongroup>
				</content>

				<content name="preview" columnstart="1" rowstart="2" columnend="2" rowend="2" >
					<layerview />
				</content>
			
			</grid>		
		</page>

		<page name="preparebuild" onload="loadbuildinfo">
		
			<grid name="maingrid">
				<column width="3" unit="free" />
				<column width="150" unit="pt" />
				
				<row height="3" unit="free" />
				<row height="80" unit="pt" />
				
				<content name="manualcontrol1" title="Process" columnstart="2" rowstart="1" columnend="2" rowend="1" columnposition="left" rowposition="top">
					
						<form name="processparameters"  sync:disabled="main.ui.preparebuilddisabled">
							<edit name="o2_value" 
								caption="Target Oxygen Value" 								
								sync:value="main.processsettings.targeto2"															
								suffix="ppm" 
								readonly="1" 
								
								/>
								
							<edit name="recoaterspeed" caption="Recoater Speed" sync:value="main.processsettings.recoaterspeed" suffix="mm/s" readonly="1" />
							<edit name="gasflowspeed" caption="Gas flow speed" sync:value="main.processsettings.gasflowspeed" suffix="m/s" readonly="1" />
						</form>
						<buttongroup>
							<button caption="Change values" event="changemanualvalues" />
						</buttongroup>
				
				</content>
				
				<content name="manualcontrol2" title="" columnstart="2" rowstart="2" columnend="2" rowend="2" columnposition="left" rowposition="centered">
				</content>
				
				<glscene name="manualcontrol3" title="" columnstart="1" rowstart="1" columnend="1" rowend="1">
									
				</glscene>
				
				<content name="manualcontrol4" title="" columnstart="1" rowstart="2" columnend="1" rowend="2" columnposition="right" rowposition="centered">
					
					<buttongroup>
							<button caption="Start Job" targetpage="buildstatus" event="startbuild"/>
							<button caption="Cancel Preparation" targetpage="main" event="cancelbuildpreparation"/>
						</buttongroup>				
				
				</content>
			</grid>		
		
		</page>

		<page name="buildstatus" onload="">
		</page>

		<page name="buildreport">

			<content name="currentbuild" title="Build Report">
			</content>

		</page>

		<page name="systemstatus">

			<content name="currentbuild" title="Current System Status">
				<parameterlist loadingtext="Loading parameters">
					<entry statemachine="main" group="processsettings"/>
					<entry statemachine="main" group="jobinfo"/>
					<entry statemachine="main" group="ui"/>
          <entry statemachine="laser" group="sdkstate"/>          
        </parameterlist>
			</content>

		</page>

		<menu>
			<item id="home" icon="mdi-apps" caption="Home" targetpage="main"/>
			<item id="buildlist" icon="mdi-apps" caption="Build Library" targetpage="buildlist"/>
			<item id="preparebuild" icon="mdi-apps" caption="Prepare Build" targetpage="preparebuild"/>
			<item id="buildstatus" icon="mdi-apps" caption="Build Status" targetpage="buildstatus"/>
			<item id="buildreport" icon="mdi-apps" caption="Build Report" targetpage="buildreport"/>
			<item id="systemstatus" icon="mdi-apps" caption="System Status" targetpage="systemstatus"/>
		</menu>


		<toolbar>
			<item id="home" icon="mdi-apps" caption="Home" targetpage="main"/>
		</toolbar>


	</userinterface>
</machinedefinition>
